---
layout: default
---
{%- assign _reviews = site.reviews | sort: 'order'  -%}
{%- include header.html scrolly_nav=_reviews -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
	    {{- content -}}
	  </div>
	</article>
	<!-- Reviews -->
	
	{%- for _review in _reviews -%}		

		{%- capture _title -%}
			<a href="{{- _review.url | absolute_url -}}">{{- _review.title -}}</a>
		{%- endcapture -%}

		{%- capture _subtitle -%}
			{% if _review.book -%}{{- _review.book }} | {% endif %}
		{%- endcapture -%}	

		{%- include section.html title=_title subtitle=_subtitle -%}
	{%- endfor -%}
</div>