---
layout: default
---
{%- assign _reviews = site.reviews | sort: 'order'  -%}
{%- include header.html scrolly_nav=_reviews -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
	    {{- content -}}
	  </div>
	</article>
	{%- for review in _reviews -%}
		{%- include review.html title=_review.title content=_review.content -%}
	{%- endfor -%}

</div>